<a href="https://colab.research.google.com/github/manola1109/Introduction-to-NLP/blob/main/52_Tokenization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Defining string
text= "I'm working as a Data Scientist in the U.S. and earning $140,000."

In [3]:
# Whitespace Tokenizer
print(text.split())

["I'm", 'working', 'as', 'a', 'Data', 'Scientist', 'in', 'the', 'U.S.', 'and', 'earning', '$140,000.']

In [4]:
import spacy

Models in spaCy for English Language as of release 2.3.1:
- **en_core_web_sm:** 11MB
- **en_core_web_md:** 48MB
- **en_core_web_lg:** 746MB

In [5]:
# Loading model
nlp=spacy.load('en_core_web_sm')

In [6]:
# creating Doc object
doc=nlp(text)

In [7]:
doc

I'm working as a Data Scientist in the U.S. and earning $140,000.

In [8]:
type(doc)

spacy.tokens.doc.Doc

In [9]:
# spaCy Tokenizer
print([token for token in doc])

[I, 'm, working, as, a, Data, Scientist, in, the, U.S., and, earning, $, 140,000, .]

In [10]:
# Type of token
[type(token) for token in doc]

[spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token]

In [11]:
# Tokens as string
print([token.text for token in doc])

['I', "'m", 'working', 'as', 'a', 'Data', 'Scientist', 'in', 'the', 'U.S.', 'and', 'earning', '$', '140,000', '.']

In [12]:
# Comparing Whitespace and spaCy Tokenizer

# Whitespace Tokenizer
print(text.split())

# spaCy Tokenizer
print([token.text for token in doc])

["I'm", 'working', 'as', 'a', 'Data', 'Scientist', 'in', 'the', 'U.S.', 'and', 'earning', '$140,000.']
['I', "'m", 'working', 'as', 'a', 'Data', 'Scientist', 'in', 'the', 'U.S.', 'and', 'earning', '$', '140,000', '.']

In [13]:
# No. of Tokens in Whitespace Tokenizer
print(len(text.split()))

# No. of Tokens in spaCy's Tokenizer
print(len(doc))

12
15

In [14]:
text="My phone has a 20% battery left."

# Whitespace Tokenizer
print(text.split())

# spaCy Tokenizer
print([token.text for token in nlp(text)])

['My', 'phone', 'has', 'a', '20%', 'battery', 'left.']
['My', 'phone', 'has', 'a', '20', '%', 'battery', 'left', '.']

In [15]:
text="I ran 10km today."

# Whitespace Tokenizer
print(text.split())

# spaCy Tokenizer
print([token.text for token in nlp(text)])

['I', 'ran', '10km', 'today.']
['I', 'ran', '10', 'km', 'today', '.']

In [16]:
text="I know HTML, CSS, JavaScript, C++, and Node.js."

# Whitespace Tokenizer
print(text.split())

# spaCy Tokenizer
print([token.text for token in nlp(text)])

['I', 'know', 'HTML,', 'CSS,', 'JavaScript,', 'C++,', 'and', 'Node.js.']
['I', 'know', 'HTML', ',', 'CSS', ',', 'JavaScript', ',', 'C++', ',', 'and', 'Node.js', '.']